[2013-09-06 20:36] stongo opened #3 "Documentation"
Could you please add some documentation and/or examples?

[2013-09-11 16:33] ghost opened #4 "Question: Was it intentional to validate crumb key for POST only?"
Hi,

I've noticed that Crumb skips crumb validation for PUT/DELETE (or anything other than POST). (see crumb/index.js line 58)

Was this intentional?

-fd

(Use of PUT / DELETE can be misused, which I am not ashamed to do, and just noticed that crumb wasn't validating csrf token on my PUT requests.)

[2013-09-11 21:51] #4 closed, assigned to nobody

[2013-11-21 17:44] #3 closed, assigned to nobody

[2013-11-22 20:47] wanderer opened #7 "how could I use this only with certain authentication schemas?"
I want CSRF protection when authenticated by cookies but not when authenticated by hawk.

[2014-01-08 21:21] #7 closed, assigned to nobody

[2014-03-21 00:31] hueniverse opened #11 "Support hapi 3.0"

[2014-03-21 00:42] #11 closed, assigned to hueniverse

[2014-04-11 18:34] stongo opened #13 "Bring Test Coverage to 100% after Lab upgrade"
Almost done, just tracking this

[2014-04-11 19:47] #13 closed, assigned to stongo

[2014-05-21 15:59] stongo opened #14 "make hapi 5.x compatible"
need to verify hapi 5 compatibility

[2014-05-21 16:07] #14 closed, assigned to stongo

[2014-05-27 07:00] hueniverse opened #15 "Prepare for hapi v6.0"
https://github.com/spumko/hapi/issues/1664

Just need to add `attributes`. For full migration to v6.0 look at the hapi6 branch (not ready for integration as hapi v6.0 has not been published, but adding `attributes` now is safe).

[2014-05-27 13:40] #15 closed, assigned to nobody

[2014-08-03 14:34] arb opened #17 "Update License"

[2014-08-03 14:35] #17 closed, assigned to nobody

[2014-08-04 07:16] tomsteele opened #19 "Add skip crumb validation function"
It would be great to be able to provide a function that is evaluated prior to validating the crumb. The use case is having a API used by various sources outside of the browser, but still wanting to use that API in the browser and have it be protected from CSRF. Application consumers wouldn't want to have to generate a csrf token when authenticating outside of a cookie, say they use a Authorization

[2014-08-13 19:24] rockbot opened #21 "Should err when trying to parse from a buffer"
Turns out a problem I was having with crumb (it's now fixed - yay!) was that I had the following route:

[code]

Note the `payload: { parse: false }` - the payload came through the route as a buffered stream instead of an object, which would cause `content[request.route.plugins._crumb.key]` to be undefined, and thus render https://github.com/hapijs/crumb/blob/master/lib/index.js#L88 as true. (As a

[2014-08-28 15:53] ghost opened #22 "Tag 3.x.x as release"
Hi...

Currently 3.1.0 is available via npm but not tagged as released.

See here:

https://github.com/hapijs/crumb/releases.

And comment here:

https://github.com/hapijs/crumb/commit/43140fcece2b39adee9fbfb4e7429f5f1fa248d8#diff-d41d8cd98f00b204e9800998ecf8427e

[2014-08-28 17:37] #22 closed, assigned to stongo

[2014-08-28 17:48] ghost opened #23 "Question: Does it make sense to use Crumb with CORS?"
Hi,

I may be completely misunderstanding the code and/or XSRF protection in general but...

In 3.x.x. if CORS is enabled, Crumb never generates a crumb cookie. See:

https://github.com/hapijs/crumb/blob/b019180073349ad028a83ad20bfa85d8c3c71bae/lib/index.js#L59

All requests pass through the plugin with no XSRF protection, even though I am using the plugin.

Does this mean that Crumb should not be

[2014-08-28 20:05] stongo opened #24 "Bypass Crumb Validation when CORS enabled and request comes from different origin"
Add an Origin check. If the origin doesn't match the server name and CORS is enabled, crumb validation should be bypassed. This should handle instances when CORS is enabled, but same origin calls are still made to the server.

[2014-09-03 01:02] #24 closed, assigned to stongo

[2014-09-03 01:07] stongo opened #25 "Only unset crumb cookie if cors.origin set to '*'"
Token leakage acceptable if cors.origin set to specified hosts

[2014-09-03 01:09] #23 closed, assigned to nobody

[2014-09-03 01:24] #19 closed, assigned to stongo

[2014-09-23 01:43] mazzy89 opened #27 "Undefined crumb value get in jade template"
I'm using crumb plugin in my project. I haven't set any options. I try to get crumb value in jade template in this way

[code]

but the value is undefined. Why? Should I set something?

[2014-09-23 11:37] #27 closed, assigned to nobody

[2014-09-23 15:14] mazzy89 opened #28 "TypeError: Cannot call method 'split' of undefined at Object.internals.originParser"
I have cors enabled and I'm using this options

[code]

I'm using sengrid official nodejs API and if I put cors false, it doesn't work. I need cors true

[2014-09-29 18:28] arb opened #29 "Update Tests"
Update tests according to [this](https://github.com/hapijs/contrib/blob/master/Tests.md)

[2014-09-30 23:50] #28 closed, assigned to nobody

[2014-09-30 23:52] stongo opened #30 "Use server.settings.cors.origin if allowOrigins unset and CORS enabled"
This will allow Crumb to work out of the box with CORS, but will still allow finer grained control of setting the crumb cookie to allowed CORS origins if desired.

[2014-09-30 23:53] #25 closed, assigned to stongo

[2014-10-03 18:05] #30 closed, assigned to stongo

[2014-10-04 11:52] mazzy89 opened #31 "Forbidden 403 when make cross origin requests"
I have set cors to true and these are the options I'm using for the plugins:

[code]

I'm using sendgrid nodejs official plugin and I make an ajax request

[code]

but I get an error. Why? is it a bug or I should set something?

[2014-10-30 20:45] ghost opened #32 "Turn off crumb for a specific route"
I would like to be able to turn off crumb on a per-route basis. I'm adding routes to my app for handling Braintree webhooks (https://developers.braintreepayments.com/javascript+node/guides/webhooks) and they will not have the CSRF token. Thoughts?

[2014-10-30 21:07] #32 closed, assigned to nobody

[2014-11-29 21:02] hueniverse opened #33 "Don't use internals for plugin state"
This will cause unpredictable errors when loading the plugin multiple times with different configurations to different connections.

[2014-11-29 21:13] hueniverse opened #34 "Host header cannot include URI scheme"

[2014-11-29 21:50] hueniverse opened #35 "hapi 8.0 API"

[2014-11-29 22:20] hueniverse opened #36 "Missing milestones"
You need to do a better job at keeping track of changes and milestones. There is a single milestone but multiple releases. Also, current package.json is set to 4.0 without any explanation.

[2014-12-02 15:07] #33 closed, assigned to hueniverse

[2014-12-02 15:07] #35 closed, assigned to hueniverse

[2014-12-02 15:08] #31 closed, assigned to nobody

[2014-12-10 06:29] salzhrani opened #38 "Publish to npm"
Could you publish a hapi 8.0 compatible version to npm please?

[2014-12-10 13:43] #38 closed, assigned to nobody

[2014-12-19 16:36] PavelPolyakov opened #39 "The ttl of the crumb cookie"
Hi,

I'm testing crumb currently and have one question.

1. I've configured crumb in a simple way, so all my POST/PUT etc routes protected by the X-CSRF-Token header.
![image](https://cloud.githubusercontent.com/assets/839290/5507658/993019b6-87ad-11e4-90d4-584f7d308ac2.png)

2. I've tested it against the POST route and got it working.
![image](https://cloud.githubusercontent.com/assets/839290/550

[2014-12-24 00:29] Aman-US-Punjabi opened #40 "how to use braintree in hapijs"
tmacie

Can you tell me how to integrate braintree in hapijs, or can please you write a  tutorial on "how to integrate braintree in hapijs" and how to use it.

[2014-12-24 00:31] #40 closed, assigned to nobody

[2015-01-07 22:02] stongo commented on #39
Crumbs `cookieOptions` allows you to control the crumb cookie. You can use the options specified here http://hapijs.com/api#serverstatename-options

[2015-01-09 00:32] stongo commented on #39
Please re-open if you have any other questions

[2015-01-09 00:32] #39 closed

[2015-01-15 17:34] rutaihwa opened #41 "Forbiden when making a RESTful(ish) POST"
Hi,
I am still kind of new to Hapi and the eco system.
I had got crumb to work with the normal POST calls.

But now I am changing my architecture, I have the API and UI server connections.
The UI talks to API strictly from the server side.

Now, when I pass the POST request to the API from the server I get forbiden,
But when I POST directly from the form page, everything works as expected.

 I thi

[2015-01-19 15:10] stongo commented on #41
Firstly, if you are only accessing a route server-side, CSRF protection is not necessary, as it is a client/browser vulnerability. However if the route is also accessed by a browser, here's how to make it work
In Crumb's default mode, when POSTing a JSON payload include the crumb as `{"crumb": "crumbValue"}` and the header `cookie: crumb=crumbValue`
See https://github.com/hapijs/crumb/blob/master/

[2015-01-19 19:40] rutaihwa commented on #41
Thanks, I have tried the crumb's default mode, it works as anticipated.

If I were to set  ` restful: true ` will the server still be able protect against
the POSTs which are not API calls?
Or is it possible to set ` restful: true ` for a API connection and leave default for the other?

[2015-01-22 17:55] stongo commented on #41
the form submissions would require some processing to add the X-CSRF-Token header when `restful: true` - a raw post from browser would fail
as far as I know, `restful` has to be true or false.
you might be better off on using the `skip` option for such things

[2015-01-23 11:00] PavelPolyakov commented on #39
Hi @stongo ,

Here is how I tried to add the cookieOptions:
![image](https://cloud.githubusercontent.com/assets/839290/5873487/4db0561c-a2f7-11e4-91b5-86b2ca01d6eb.png)

And here is what I see:
![image](https://cloud.githubusercontent.com/assets/839290/5873488/611c97ba-a2f7-11e4-9425-fad3cd3a4593.png)

Should I do that in a different way?

[2015-01-23 11:09] PavelPolyakov commented on #39
Found that it should be like:

[code]

[2015-01-23 11:22] PavelPolyakov opened #42 "Disable crumb per route"
Hi,

Is there a way to disable the crumb through the route configuration?

In the documentation I see that we can do like this:
[code]

This mean that we should describe all the routes which we want to "decrumbialise" during the plugin registration. Am I right?

[2015-01-28 13:46] #41 closed

[2015-01-28 13:47] stongo commented on #42
Hi! This is a duplicate of https://github.com/hapijs/crumb/issues/32

[2015-01-28 13:47] #42 closed

[2015-01-28 16:04] stongo commented on #36
sorry about that, will start creating milestones moving forward

[2015-01-28 16:04] #36 closed

[2015-01-28 16:27] stongo commented on #21
returning a specific error message to a user as suggested does not follow security best practices - an error like this would give a "hint" to potential attackers IMHO
marking this as "will not fix"

[2015-01-28 16:27] #21 closed

[2015-01-28 16:29] stongo commented on #34
@hueniverse can I get some more details on this please

[2015-02-02 16:20] stongo commented on #29
Test should now comply with standards set out in Tests.md

[2015-02-02 16:20] #29 closed

[2015-02-04 07:20] hueniverse commented on #34
https://tools.ietf.org/html/rfc7230#section-5.4

[2015-02-04 21:19] stongo commented on #34
@hueniverse does this satisfy the issue then?

[2015-02-05 07:21] hueniverse commented on #34
I think so.

[2015-02-05 14:03] stongo commented on #34
Closed by https://github.com/hapijs/crumb/pull/44

[2015-02-05 14:03] #34 closed

[2015-03-10 07:40] rutaihwa commented on #41
@stongo I works as a charm, I have tried few things and I found the easier way is to register crumb a particular connection, say `www server` with its options and register crumb for `api server` with `restful` options.
Do you know issues that could create?.

[2015-03-10 12:41] stongo commented on #41
@rutaihwa that's brilliant! I would say you are all good with that setup

[2015-04-13 21:23] kenkouot opened #50 "Cannot read property crumb of null"
Hello! For some reason, some of my requests are returning a null object for the value of `requests.state`, resulting in the following error:
[code]
Any ideas as to what might cause `request.state` to be `null` from hapi? I checked my other plugins and haven't found anything that might unset state generally.

[2015-04-13 22:46] stongo commented on #50
What version of hapi are you using? Also can you provide a sample server
code similar to that of your server when this error occurs? Bonus points
for adding a test to reproduce it :)
On Apr 13, 2015 5:23 PM, "Kenneth" <notifications@github.com> wrote:

[2015-04-13 23:12] kenkouot commented on #50
Hey @stongo! Thanks for the quick turnaround. The server code is actual open and located [here](https://github.com/Wikia/mercury/blob/dev/server/app.ts#L44). The reproduction steps are actually what I'm stumbling on. I can't reproduce this locally or on our staging server, but on production (where we get tons of traffic) this error occurs <.01% of the time. We are running hapi 8.4.0 and you can fi

[2015-04-14 03:47] kenkouot commented on #50
Just a quick update, it's actually `request.state` that is a null object.

[2015-04-15 21:07] kenkouot commented on #50
Going to close this because it seems the root cause isn't crumb.

[2015-04-15 21:07] #50 closed

[2015-06-04 12:58] abernardobr opened #51 "crumb request.plugins.crumb: undefined"
Versions: HAPI: 8.5.2, crumb: 4.0.3, hapi-auth-cookie: 2.2.0
Startup process:
[code]

I am staring up first Crumb and then Cookie.

On my machine (Mac OSx Yosemite) I start the server with pm2 with several CPUs. It all works fine.

On the production server I start the server with pm2 with several CPUs. It all works fine with Chrome and IE. Once I use Firefox it is giving me the following problem:

[2015-06-05 13:30] stongo commented on #51
To clarify, this only happens on this particular POST route? Or for all POSTs?

[2015-06-05 13:36] abernardobr commented on #51
Hello @stongo. Thanks for your reply.

This happens on a login POST.

Since I cannot get it, I cannot test the other routes.

[2015-06-12 20:33] stongo commented on #51
This might nothing, but might you have a typo somewhere?

ui-0 (out): **crunb** onPostAuth --> request.plugins.crumb: undefined

[2015-07-13 16:50] marlonmantilla opened #54 "Getting 403 forbidden because token has changed"
Hi guys, I'm working in a HapiJS API and a separate Web client app (Just HTML and JS) which basically will have a form with a CSRF crumb token.  So the Web app basically makes a call to GET /generate and HapiJS will return the CSRF token. After that when I submit the form I hit POST /send and sends the token with X-CSRF-Token header but for some reason is returning 403 ...

HAPIJS Routes

[code]

[2015-07-14 15:18] zoe-1 commented on #54
@marlonmantilla @hapijs/university 's current assignment is related to crumb.
Follow instructions in the [README](https://github.com/hapijs/university) to get started.
Specifics about the assignment are at: [Assignment8](https://github.com/hapijs/university/issues/167).
Hopefully, you will join and submit a PR for the current assignment :-)  Doing this assignment should clear your questions about

[2015-07-14 15:37] stongo commented on #54
If you're trying pass the token as a "X-CSRF-Token" header you'll need to set crumb's plugin option `restful: true`
Otherwise, crumb expects the token to be in the POST payload: `{ "crumb": "TOKEN" }`

[2015-07-15 15:21] marlonmantilla commented on #54
@stongo I tried with both disabling restful: true|false, you can see ```data: {crumb: authorizationToken}``` but as soon as I debug the tokens are not the same is like Crumb generate a new one when cheking.

[2015-08-06 12:58] matthieusieben opened #55 "Check number of connections"
When using this plugin with `server.plugin(... , { select: 'public' })`, and that no connection matches the selection, then an error is returned:
[code]
Is this a desired behavior? Or is it expected that `server.select()` may return an empty set?

[2015-09-14 12:31] matthieusieben opened #56 "Provide more relevant feedback"
It would be nice if a message was provided to the `Boom.forbidden`. In big applications, where Boom is used everywhere, it may not be trivial to detect where the error was generated.

[2015-09-14 16:17] stongo commented on #56
@matthieusieben this is a touchy issue for a security related module, as giving a detailed forbidden message essentially leaks data to potential attackers

that being said, I could investigate writing a server side log message to make debugging easier

[2015-09-14 17:03] matthieusieben commented on #56
Some people argue that "Security through obscurity is not security". In the present case, it is obvious to an attacker that a csrf token has to be provided (crumb sets a cookie...) and as easy to detect that the cookie/header may be missing from the request. It would be also possible to determine that the request was rejected in an early stage of its processing by a statistical analysis of the res

[2015-09-14 18:18] stongo commented on #56
Ok adding the server side logging right now with a 'logUnauthorized'  option to trigger it. Also good point on this being handy for monitoring

[2015-09-15 13:04] stongo commented on #55
This would be the desired behavior to throw if the select option doesn't return any connections

[2015-09-15 13:04] #55 closed

[2015-09-15 15:36] stongo opened #58 "update to hapi 9/10"
Update crumb to be compatible with hapi 9, and ideally with hapi 10/node 4.x

[2015-10-16 19:53] hueniverse opened #61 "Ignore CORS"
I don't know why the change was made to skip crumb protection when CORS is enabled but please revert that change. While theoretically, a properly configured CORS deployment does not need much of this extra protection, this is a violation of security layering principle.

Also, almost no one configures CORS correctly.

[2015-10-16 19:53] hueniverse commented on #58
@stongo still got the time to maintain this?

[2015-10-19 14:54] stongo commented on #61
Crumb protection is not being skipped when CORS is turned on. The crumb cookie will only be set for domains listed in the `allowOrigins` setting, but crumb protection will still be enabled for all requests. The whole purpose of the security fix was to not leak the crumb token to unauthorized Cross Origin requests.
If crumb is not currently behaving like this, it is a bug.
Will verify today.

[2015-10-19 16:50] hueniverse commented on #61
We might need to expose the Origin match utility in hapi then to do this properly.

[2015-10-19 20:10] stongo commented on #58
@hueniverse trying my best, but admit to not doing a great job lately. consider fire lit under my butt. going to catch up this week

[2015-10-22 03:57] stongo commented on #54
Getting a similar error in one test only when converting crumb to hapi 9 https://github.com/hapijs/crumb/tree/update-9. This may be related to this issue

[2015-10-22 03:59] stongo commented on #51
Getting a similar error in one test only when converting crumb to hapi 9 https://github.com/hapijs/crumb/commit/f728d646107dd6fec7584aca098afbffadab3e17. This may be related to this issue

[2015-10-26 19:37] #51 closed

[2015-10-26 19:47] stongo commented on #58
https://github.com/hapijs/crumb/pull/63

[2015-10-26 19:47] #58 closed

[2015-10-26 20:50] hueniverse commented on #61
Does it just not set the cookie or also doesn't validate the form if no cookie is set?

[2015-10-28 14:47] mtharrison opened #64 "Restful example generate endpoint responds with text/html response"
Just wondering if there's any good reason that the [restful example /generate endpoint](https://github.com/hapijs/crumb/blob/master/example/restful.js#L19-L27) responds with `text/html` and a JSONy looking string:

[code]

rather than:

[code]
Happy to make a PR if you think it's worth it.

[2015-11-02 18:52] stongo commented on #64
good point. a PR would be appreciated :)

[2015-11-06 21:44] 58bits opened #65 "Typo on Line 52"
https://github.com/hapijs/crumb/blob/master/lib/index.js#L52

`restful: settings.resful,`
should be..
`restful: settings.restful,`

[2015-11-06 21:48] arb commented on #65
Documentation PRs are always welcome :+1:

[2015-11-07 03:30] 58bits commented on #65
@arb it's not a documentation typo. it's a code change...

[code]

I'd be glad to submit a PR, but for the letter 't' - it seems like it would be quicker for whomever is maintaining this to make a fast commit. Let me know if you'd really like a PR and I'll do it.

[2015-11-07 03:31] 58bits commented on #65
ah - @lloydbenson fixed it :-)

[2015-11-07 03:31] #65 closed

[2015-11-07 11:45] lloydbenson commented on #65
I submitted a PR, it isn't actually fixed yet.

[2015-11-09 13:53] stongo commented on #61
@hueniverse if a CORS request is from an unknown Origin, the `generate` function isn't called and a cookie isn't returned.
That is the only code affected by CORS
Where is the Origin match utility in HAPI? I would be happy to integrate that

[2015-11-10 08:00] hueniverse opened #67 "ES6 style changes and node v4"
Apply the latest ES6 hapi style:
- use strict
- `const` and `let` where appropriate (linter will tell you where)
- arrow functions where appropriate (linter will tell you where)
- relevant updates to tests + docs
- updating deps and engine in package.json
- avoid `self` and `+=` / `-=` (not optimized yet for let const)
- change .travis to test 4.0, 4, and 5

[2015-11-12 15:00] stongo commented on #54
Closing due to inactivity. Re-open if this bug still reproduce-able with Crumb >= 5.x

[2015-11-19 23:29] davemackintosh commented on #54
I'm still seeing this issue with

Crumb@5.0.0
Hapi@11.1.1

[2015-11-23 14:07] davemackintosh opened #68 "Heroku disallows host binding but Crumb requires it"
I'm stuck in a situation where I need to deploy to Heroku which disallows the binding of a host name (doesn't bind/mount) but Crumb requires I bind to a host in order to work.

Is there a solution to this type of catch-22?

[2015-11-23 14:14] stongo commented on #68
It's currently required for checking for origins with CORS, but this
will soon be handled by an exposed function from Hapi core
https://github.com/hapijs/hapi/issues/2936. This should eliminate your
issue in the next version of Crumb.

On 2015-11-23 9:07 AM, Dave Mackintosh wrote:

[2016-01-02 19:08] hueniverse commented on #61
Can you explain this to me: https://github.com/hapijs/crumb/blob/master/lib/index.js#L203-L206

It makes no sense. You are comparing the incoming host header to the connection host.

[2016-01-02 19:23] hueniverse commented on #61
In hapi v12 you should use `request.info.cors.isOriginMatch` exclusively without using any of the custom config stuff you have in crumb right now. IOW, we need a new major version of crumb for hapi v12.

[2016-01-02 19:58] stongo commented on #61
Ok will do. Thanks for exposing that
On Jan 2, 2016 2:23 PM, "Eran Hammer" <notifications@github.com> wrote:

[2016-01-12 14:51] stongo commented on #61
Using `request.info.cors.isOriginMatch` alone won't allow a route to set the crumb for a CORS client and same-origin client (ie server rendered page)
That was what the extra logic had been for. Set crumb if it's a same-origin request OR an allowed CORS origin.
Maybe we don't support that, but it had been a request that came in an issue.

[2016-01-12 18:45] hueniverse commented on #61
What does it mean "same origin request"? This line: https://github.com/hapijs/crumb/blob/master/lib/index.js#L203-L206 makes no sense as described above. Upgrade the tests to hapi v12 and see what happens.

[2016-01-12 19:16] stongo commented on #61
I have already upgraded and tested locally (hapi12) branch.
Sorry for not explaining well. What I'm trying to describe is an edge case and probably not worth supporting.
Should be able to PR the update later today

[2016-01-15 19:13] stongo commented on #68
This is no longer required in 6.0.0

[2016-01-15 19:13] #68 closed

[2016-01-15 19:14] stongo commented on #67
In 6.0.0 release

[2016-01-15 19:14] #67 closed

[2016-01-15 19:14] stongo commented on #61
6.0.0 release addresses this

[2016-01-15 19:14] #61 closed

[2016-01-15 19:40] davemackintosh commented on #68
Will test on Monday, thanks everyone.

[2016-03-03 09:35] cjnqt opened #71 "Question: Same-domain requests are blocked when cors is enabled?"
I have a server set up at `http://somedomain.com`.  I have enabled cors on a specific route:
[code]
Ajax-requests from `http://otherdomain.com:3000` works fine and Crumb generates a token as expected.

But if I do an ajax-request from `http://somedomain.com` (the same domain the server is running on) to this route, Crumb doesn't generate a token.

It seems like enabling cors implies that *only* cr

[2016-03-03 14:12] stongo commented on #71
@cjnqt yes this is the current behavior. The previous version of crumb did allow both same-origin and CORS on the same route. The workaround would be to have a route for the presumably server rendered site and then a separate route for api access using CORS. You can use the same handler in multiple routes.
@hueniverse this is the scenario I was trying unsuccessfully to explain and what the extra l

[2016-03-03 22:16] hueniverse commented on #71
Well, the previous code just didn't work. I am pretty sure that extra logic was working only in the tests. Why not simply configure the same origin in the allowed cors origins?

[2016-03-04 04:26] stongo commented on #71
I think adding the domain to cors allowed origins is definitely an adequate
solution.
@cjnqt can you please confirm if that works for you?
On Mar 3, 2016 5:16 PM, "Eran Hammer" <notifications@github.com> wrote:

[2016-03-11 09:00] cjnqt opened #72 "Persist csrf-tokens and share them between servers?"
Please let me know if I have understood this correctly:
- Crumb generates csrf-tokens and persist them as a cookie on the browser and in-memory on the server.
- Crumb doesn't persist tokens to db/cache/elsewhere by default, so it is intended for single-server use.
If we'd like to divide web traffic between multiple servers, we need to persist the tokens somewhere so they're available to all server

[2016-03-11 09:00] cjnqt commented on #71
Confirmed!

[2016-03-11 09:00] #71 closed

[2016-03-11 09:09] mtharrison commented on #72
I don't think it persists on the server at all. It just checks if the incoming token (from payload or header depending whether restful) is the same as the cookie value, so you can use it in multi server scenarios.

[2016-03-11 09:13] cjnqt commented on #72
Ah, I see. Thanx!

[2016-03-11 09:13] #72 closed

[2016-03-14 05:52] briandela opened #73 "Validate/Requiring an incoming crumb even if CORS origin does not match"
I wanted to get your thoughts on validating/requiring an incoming crumb value (cookie/payload), even if the CORS origin does not match.

I know setting a crumb cookie when the CORS origin does not match is considered token leaking but would it be possible to require the existence of a crumb to be present and that crumb to be valid?

For example, here are some scenarios (how it works today):
- with

[2016-03-15 21:23] stongo commented on #73
@briandela how is a CSRF going to occur on a CORS route from a non-matching origin? The request from a browser should never trigger the `onPostAuth` and `onPreResponse` handlers if it's not a matching allowed origin.

[2016-03-16 19:37] Blaugold opened #74 "Overriding restful options in route"
I noticed that overriding the default *restful* option (false), in routes does not work. Overriding only seems to work when *restful* is globaly set to true. I think the problem is a short-circuit evaluation in the if statement when branching to validate either by content or by x-csrf-token header:
`
if (settings.restful === false ||
            (!request.route.settings.plugins._crumb || request.r

[2016-03-24 16:20] stongo commented on #74
Thanks for the issue, I'll check it out

[2016-05-12 20:04] #74 closed

[2016-05-12 20:08] #64 closed

[2016-05-13 19:45] gdibble opened #80 "6.0.1 update breaks route-restful option"
An `||` got change to an `&&`:

![image](https://cloud.githubusercontent.com/assets/906846/15259754/feff756a-1907-11e6-9329-a6e36fa8f980.png)

[2016-05-19 19:25] stongo commented on #80
isn't the `&&` correct? the route setting should precede the plugin setting in the check and both conditions should pass.

[2016-05-19 22:04] gdibble commented on #80
I thought so too, but in application my routes which specify...
[code]

...stopped working (whereas these send a form-field-value instead of req. header) when I upgraded to v6.0.1

Sorry if I've misintrepreted anything, I just couldn't get it to work w/o changing that `&&` => `||`

[2016-05-25 16:30] aef- commented on #80
We need to add a condition that explicitly checks for `false` as the value and to short-circuit the plugin/settings config condition.

I think this should do the trick (test ln 659 should expect 200 instead of 403, this causes it to fail appropriately)
[code]

[2016-06-07 21:20] dwangus opened #83 "Just a random question about example/restful.js"
What exactly are the paths /generate and /crumbed? ...I'm not exactly sure how to (or whether or not to) change the paths in the example, or if we always need to go to '/generate' to get a crumb-token, or if we should be generating a new token at every new path we arrive at, etc. I'm also not sure what exactly '/crumbed' is supposed to be, or how exactly the PUT method in the example checks for a

[2016-06-10 16:21] adam-beck commented on #83
I'm going to do my best to answer your questions but I would like to point out that I'm not an expert in this field either.

The `/generate` path, in this example, creates an X-CSRF-TOKEN and sends it back with the response as a cookie. By crumb's defaults, it's name is "crumb" and has a randomly generate value. Only JavaScript served from this domain will have access to that cookie.

The `/crumbe

[2016-06-15 18:49] briandela commented on #73
@stongo Completely forgot to respond to this. We were hoping to use crumb as a protection also against the `curl` scenario. Completely understand that CSRF/CORS is "browser" specific and in theory both CORS and CSRF should be enabled at the same time and that's the focus of crumb.

We completely understand that we are overloading crumb right now for something it wasn't intended to do (in addition

[2016-06-15 18:49] #73 closed

[2016-06-23 13:09] stongo commented on #83
well said @adam-beck, that answers the question nicely 👍
@dwangus feel free to re-open this issue if you need any other clarity on the subject

[2016-06-23 13:09] #83 closed

[2016-06-29 01:51] stongo commented on #80
The pull request of branch `route-config` should fix this. Can anyone confirm?

[2016-06-30 04:52] stongo commented on #80
Fixed by release 6.0.2

[2016-06-30 04:52] #80 closed

[2016-06-30 15:50] gdibble commented on #80
Many thanks

[2016-07-05 15:37] hoshin commented on #54
Same here with
Crumb@6.0.2
Hapi@13.4.2

:-/

Note : right now I'm not even trying to integrate the plugin, i'm just fiddling with the "restful.js" demo app (had trouble integrating, so I cut all the "this might be due to some weird plugin interaction / configuration" issues and just tried the demo app barebone.

As far as I can tell, the "generate" function is called on the /crumbed call (when i'd

[2016-07-05 16:23] hoanghiep commented on #54
Here is my config
[code]
And form
[code]
Result
`{"statusCode":403,"error":"Forbidden"}`

restful : true does not work with form :(

[2016-07-06 02:42] afgallo commented on #54
I am also getting the same error as per @hoshin. The generate function gets called twice:
1) When I request my crumb token via GET /generate
2) When I post the token to POST /crumbed

Relevant part when debugging:

        // Set crumb cookie and calculate crumb

        if ((settings.autoGenerate ||
            request.route.settings.plugins._crumb) &&
            (request.route.settings.cors ? r

[2016-07-06 09:46] hoshin commented on #54
@stongo I'd gladly re-open if I could but it doesn't seem possible on my end =)

[2016-07-31 05:10] genediazjr commented on #54
I encountered this issue as well using the server example.

[2016-07-31 05:15] genediazjr opened #85 "No crumb cookie using restful example"
I have tried running the restful.js example but I get no crumb cookie on the response headers as stated.
[code]
I am able to get the crumb as payload on the response of `/generate` but no cookie.

[2016-08-02 02:47] BCook98 opened #86 "Tests fail on v6.0.2"
Running the tests on master fail, giving me the following error. I get the same error on both node v4 and v6, but not on the tag v6.0.1.
[code]
I am not sure why the tests on Travis passed yet are failing for me, but I have attempted this in multiple environments. It looks like `this` is never assigned as arrow functions are used all of the way up to the root.

Any ideas?

[2016-08-02 08:53] Marsup commented on #86
This line is obviously wrong, it should be a normal function. Not sure why travis thinks it's ok.

[2016-08-02 21:12] stongo commented on #54
found a bug related to the generate function. fixing in upcoming release

[2016-08-03 01:17] stongo commented on #86
@BCook98 I can't reproduce locally. What environment are you running the test in?
[code]

[2016-08-03 01:28] BCook98 commented on #86
@stongo Super weird, Same error on both latest Node v4 and v6. I am running OSX (zsh and n), but I get the same thing on my CentOS VM (bash and nvm).
[code]

[2016-08-03 07:04] Marsup commented on #86
Also fails locally for me. This code should clearly fail.

[2016-08-03 12:36] stongo commented on #86
Clearly?
[code]

[2016-08-03 12:44] Marsup commented on #86
Yes, except the `this` is in no way referring to the stream, that's just impossible.

[2016-08-03 13:01] #86 closed

[2016-08-04 00:53] stongo commented on #54
It might have been a problem with the example, in fact. Using `server.plugins.crumb.generate()`
If someone can verify https://github.com/hapijs/crumb/pull/88 that'd be great

[2016-08-04 00:56] stongo commented on #85
I've updated the example. Also try setting CORS `credentials` to `true` (if using CORS)

[2016-08-04 08:27] genediazjr commented on #85
got it. thanks!

[2016-08-04 08:27] #85 closed

[2016-08-05 00:56] afgallo commented on #54
@stongo it didn't work for me .... if #88 is only about fixing the example, when I tried to reproduce it on my local env it didn't really work :(
Still keen to help though.

[2016-08-05 17:56] stongo commented on #54
@afgallo check the pr example now, forgot to add the generate function args :(
the generate route in the example shouldn't cause the problem you described anymore

[2016-08-06 15:34] afgallo commented on #54
@stongo still no luck :(

I noticed that the objects **request.plugins.crumb** and **server.plugins.crumb** are different. If this is by design, you can ignore my comment, but wouldn't this cause issues? When calling **request.server.plugins.crumb.generate** I noticed that **request.plugins.crumb** was already generated ...

I also created a gist for you to have a look and see if I am making any s

[2016-08-08 18:29] excenter opened #89 "Generate is running a second time and 500-ing hapi"
possibly related to #54
For a restful hapi pipeline, with the conf below, after I generate a crumb and get it back as a cookie. When I submit a data request I get
[code]

The index.js of the hapi server asks for this:
[code]

and the restful requests are

[code]

(fun fact, I never see 'crumb put has happened' when PUT-ing to  /crumbed, the 500 previously mentioned hits first).

Is this a bug with

[2016-08-08 21:08] afgallo commented on #54
@stongo finally some good news! I reviewed your tests cases and found what appeared to fix my unit tests.

I simply modified my test cases from:

`headers: { 'X-CSRF-token': token }`

to:

`headers: { 'X-CSRF-token': token, cookie: 'crumb=' + token }`

It seems to be working now! I'll let you know if I come across any other issues.

[2016-08-09 15:22] stongo opened #90 "Generate function never called when Vision route has CORS enabled"
So I think found the reason why the crumb cookie isn't being set sometimes.

If you setup your server with CORS enabled globally but also using Vision like this:

[code]
And then proceed to create a few routes returning views, the view routes will never call Crumb's generate function, because https://github.com/hapijs/crumb/blob/master/lib/index.js#L83 will always fail unless CORS is explicitly tu

[2016-08-09 17:15] hueniverse commented on #90
I'm not following the flow. Why are vision routes acting differently?

[2016-08-09 17:45] stongo commented on #90
sorry @hueniverse you're right, it's not limited to vision routes, but to any route being access directly from browser when CORS is enabled.

so if CORS is set globally and one tries to access a route directly in browser for example, `request.info.cors.isOriginMatch` is always going to be false because the `origin` header isn't there.

this makes it so that a route can't be used in both CORS and n

[2016-08-09 17:58] hueniverse commented on #90
Directly you mean CURL?

[2016-08-09 18:08] stongo commented on #90
CURL or in a browser

Here's the headers from chrome dev tools from a Vision route with CORS enabled
[code]
vs
[code]

[2016-08-09 18:12] stongo commented on #90
If I disable CORS for the same route, then crumb generate is called and crumb works as expected.

This came up when I was debugging someone's setup where the crumb cookie wasn't being set or added to the view context, and it was because CORS was enabled globally

[2016-08-09 18:52] hueniverse commented on #90
Why isn't the browser sending the CORS headers?

[2016-08-09 19:01] stongo commented on #90
I don't know honestly. Probably the root issue. I'll dig in to that

[2016-08-10 13:51] stongo commented on #90
@hueniverse the browser will never use CORS for a single api request or for an initial html page as served by a Vision route for example.
"A resource makes a cross-origin HTTP request when it requests a resource from a different domain than the one which the first resource itself serves" - https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS
So that explains a route not being able

[2016-08-10 14:28] stongo commented on #90
this page outlines when the header origin is served https://wiki.mozilla.org/Security/Origin

[2016-08-12 01:17] hueniverse commented on #90
I think that's the right change. Enforce CORS where Origin is present.

[2016-08-12 17:51] stongo commented on #90
Closed by https://github.com/hapijs/crumb/commit/a11b3586dc659be9515632096b05a607bd6f9acc

[2016-08-12 17:51] #90 closed

[2016-08-12 17:54] stongo commented on #54
Excellent @afgallo
For anyone else having issues please use latest example and version 6.0.3 and re-open if there's still an issue.

[2016-08-12 17:54] #54 closed

[2016-08-12 18:02] stongo commented on #89
your PUT route should now just be a normal route protected by crumb (no need to reply with that index.js file)

make sure your request to the PUT route (or any PUT, POST, DELETE, PATCH route) contains the header `X-CSRF-Token: {value-you-got-from-generate-route}`

[2016-08-13 16:08] hoshin commented on #54
Thanks =)

[2016-08-15 14:50] #89 closed

[2016-08-23 05:55] genediazjr opened #92 "New crumb is not generated on browser refresh"
I am not sure if this is just on my machine and if this is the intended design.
I have tested this on chrome and firefox with the same result.

I have used the following code:
[code]

Using server.inject generates a new value. But accessing it on the browser does not.

First access.
![1](https://cloud.githubusercontent.com/assets/224404/17881551/eefd44f4-6938-11e6-9455-ba50760eec51.png)

Second ac

[2016-08-23 12:15] stongo commented on #92
This is the expected behavior. In the browser the first request sets the crumb in a cookie. On subsequent requests, if the cookie is already set it doesn't set a new crumb again.
Since you're not passing a cookie in the `server.inject` calls, it generates a new one every time.
If you want a new crumb generated more frequently, set a low cookie expiry using the plugins' `cookieOptions`

[2016-08-23 12:38] genediazjr commented on #92
I see. Thank you for clarifying.

[2016-08-23 12:38] #92 closed

[2016-11-01 20:00] davidkaminsky opened #94 "Restful validation with autoGenerate set to false not working"
Hello, I'm having some issues getting crumb to work. I'm using hapi as my API server and serving the front-end via an express server that does an initial server render of React.

I'm going about adding CSRF protection to the API server by using restful validation where I create a route to generate a crumb. That route is called by the express server to get the crumb and injected into the DOM to the

[2016-11-08 16:00] davidkaminsky commented on #94
Would really appreciate some help here if anyone has any insight into how to proceed. Thanks!

[2016-11-27 21:45] ghost opened #95 "Adding crumb breaks onPreResponse Header()"
As soon as I register the crumb plugin, an error TypeError: Uncaught Error: request.response.header() is not a function.

**server.js**
[code]

**RateLimiter.js**
[code]

**Throttler.js**
[code]

[2016-12-16 22:41] smahi opened #96 "403 forbidden even when x-csrf-token is set"
Hi,
I am using hapi as api backend and aurelia.js as fontend, i am using crumb plugin also and set up
options restful to true.
For any of my request to the backend i've appended x-csrf-token to the headers array, but unfortunately i am getting Forbidden (403) error, did i miss something ?
Knowing that i am not using any views , i am simply serving the index.html

[2016-12-17 07:58] smahi commented on #96
It seems that the issue is in the front end, sorry about that.

[2016-12-17 07:58] #96 closed

[2017-01-23 18:46] citelao opened #97 "Example won't launch: `Server.views is not a function`"
Even with dependencies installed properly, I could not launch `server.js` in `examples/` until I added the code in the [Vision README](https://github.com/hapijs/vision):

    server.register(require('vision'), (err) => {
        if (err) {
            console.log("Failed to load vision.");
        }
    });

That fixed it.

[2017-03-11 01:55] ryanwilliamquinn commented on #94
I'm curious about this issue too. Why does the autogenerate toggle impact whether or not a route is validated?

[2017-03-11 01:56] ryanwilliamquinn commented on #94
I think the restful flag is irrelevant for the issue, the behavior is the same regardless of its value.

[2017-03-11 01:59] ryanwilliamquinn commented on #97
You should put a PR in for this, I had the same problem.

[2017-03-28 01:45] jonathansamines commented on #95
I dont think this is an issue with this plugin. From the hapi documentation, seems like at the "onPreResponse" extension point, the `request.response` object can either be a "boom error" or an actual response object, in case it is a "boom error" then the object does not have the "header" method because it is not a response object, but a boom error. I think you should check for the `isBoom` propert

[2017-03-28 01:47] jonathansamines commented on #94
@davidkaminsky  did you solved this issue? If not, could you provide a reduced reproduction of your issue?

[2017-03-28 02:00] jonathansamines commented on #95
The reason you are getting the error, is likely because crumb [sometimes responds](https://github.com/hapijs/crumb/blob/master/lib/index.js#L105) with "boom errors".

[2017-03-28 21:51] davidkaminsky commented on #94
Ok, so it appears that allowing for autogenerating the crumb isn't a problem. I don't need it but it doesn't hurt anything so I've moved on leaving the default of it autogenerating on. That said, you should be able to reproduce this by basically using the example: https://github.com/hapijs/crumb/blob/master/example/restful.js and setting the autoGenerate option to false.

[2017-08-01 09:20] captainjackrana opened #101 "Enable Crumb for specific routes only"
I wish to enable CSRF validation only for specific routes. If I register the plugin, i believe it enables Crumb validation for all registered server routes.

[2017-09-19 20:17] steevhise commented on #56
Did this "logUnauthorized" ever get committed and released? Doesn't look like it, it's not in the docs, and as I'm running Crumb 6.0.3 and get an error when I try including that option in the plugin registration.
It would be useful because I'm suddenly seeing crumb not working any more, possibly due to some issue with latest hapi version.

[2017-09-19 20:26] steevhise opened #102 "latest crumb with latest hapi is now not working."
After crumb being fine for several months, it's now refusing to work for me, possibly because of some issue with latest hapi version?  I'm running Crumb 6.0.3 and hapi 16.6.0, recently upgraded from 16.5.2

Forms that used to work with Crumb now give a 403 and I see this kind of thing in log:
2017-09-19/13:09:37-07:00, [log,error] data: {"method":"POST","url":"/login","headers":{"host":"steevbook.

[2017-11-04 00:28] hueniverse opened #104 "New maintainer"
This module is not maintained to hapi.js standards. Need someone to review issues and PRs and close/resolve them.

[2017-11-04 00:28] hueniverse opened #105 "hapi v17 support"

[2017-11-04 04:08] jonathansamines commented on #104
@hueniverse I would like to help maintaining this module. Will start reviewing existing PR, but I think I need special permissions in order to close issues.

[2017-11-04 06:02] hueniverse commented on #104
@jonathansamines Great. Start by making a hapi v17 migration PR and if that goes well we can add the needed permissions.

@stongo I assume you don't want to maintain this anymore.

[2017-11-06 04:27] jonathansamines commented on #104
@hueniverse Sure, already working on it. Will come back once I finish the migration.

[2017-11-29 21:39] #105 closed

[2017-11-29 21:42] geek commented on #97
Fixed by #106

[2017-11-29 21:42] #97 closed

[2017-11-29 21:46] geek commented on #101
The documentation update in PR #99 explains the solution to this problem.

[2017-11-29 21:46] #101 closed

[2017-11-29 22:08] geek commented on #104
@jonathansamines you now have publish permissions on npm for crumb and are also a member of the community group on github.

Thanks for helping out.

[2017-12-08 05:20] jonathansamines commented on #95
Closing due inactivity. Please feel free to open this again if none of my suggestions worked and the issue persists.

Also note that, the reason you are getting boom errors when registering this plugin, is likely because your api request are not sending the proper csrf token. Anyway, as I mentioned before the actual issue is caused because errors are not being checked at the extension point.

[2017-12-08 05:20] #95 closed

[2018-01-11 17:53] matthewhegarty commented on #102
We had a very similar issue today.  It occurred on Chrome 100% of time, and on Safari 50% of time.  Firefox was fine.  The issue did not occur in incognito mode in Chrome.

The workaround is to set the [`autoGenerate`](https://github.com/hapijs/crumb/blob/master/lib/index.js#L31) option to false.

The issue occurred for us because [this comparison](https://github.com/hapijs/crumb/blob/master/lib/i

[2018-01-16 15:32] jamtay opened #108 "autoGenerate=false not working as expected"
Tried setting autoGenerate to false but when this happened the crumb was never checked (Could update the hidden form field with any value and not get a 403 forbidden)

I had already globally set the crumbOptions but to fix this I also had to add an empty object for `config.plugins.crumb` for every route.  With this changed autoGenerate worked as I expected but I am confused about why I have to add

[2018-03-06 18:00] popkutty opened #110 "Getting plugin.register.regiter cannot read property of undefined"
HAPI version: ^16.6.2
Crumb version: 6.0.3

Server code:
[code]

[2018-03-20 04:36] jonathansamines commented on #110
@popkutty Sorry for the late response, could you put together a reproduction of this issue?

[2018-03-20 09:15] Marsup commented on #110
You likely used hapi@17's documentation. It should be `register: require('crumb')` in your snippet.

[2018-03-20 09:15] #110 closed

[2018-04-05 23:45] spanditcaa commented on #56
@jonathansamines you'll find #112 and #113 which add this capability in master for hapi 17, and I pushed a 6.x.x branch for those still on hapi 16.

[2018-04-21 17:08] hueniverse commented on #104
@jonathansamines you haven't been active since requesting to take on this module. There are open issues and PR waiting to be resolved. Still interested in leading the module or should we look for someone else?

[2018-04-23 15:20] geek commented on #56
Fixed by #112

[2018-04-23 15:20] #56 closed

[2018-04-26 04:03] spanditcaa commented on #102
This appears to be a duplicate of #94

[2018-04-26 04:04] spanditcaa commented on #108
This appears to be a duplicate of #94 -- @jspath is the PR you referenced in pageamedia a fix, or workaround for crumb?

[2018-04-26 15:03] jspath commented on #108
It's a "fix" that works for us against version 7.0.0 of crumb.

We are old an older version of hapi right now and cannot upgrade to newest crumb.

[2018-04-28 00:00] spanditcaa commented on #104
I would be happy to pick this up @hueniverse.

[2018-04-28 22:40] hueniverse commented on #104
@spanditcaa Done. Thanks!

[2018-04-28 22:40] #104 closed

[2018-04-30 23:48] spanditcaa commented on #94
closing this as a duplicate of #108 (more detail/possible fix in that issue)

[2018-04-30 23:48] #94 closed

[2018-05-01 16:09] spanditcaa commented on #102
@steevhise @matthewhegarty @davemackintosh - is this still occurring for any of you ?

[2018-05-04 22:32] spanditcaa commented on #102
Please reopen if this is still happening for you (and include a sample repro or failing test).

[2018-05-04 22:32] #102 closed

[2018-05-11 22:15] franksama opened #114 "Crumb cookie disappearing"
hello,

i'm seeing the crumb cookie intermittently disappearing from request.state and the raw request cookie header.  is this a known issue?

our users get a crumb cookie initially, but then midway through their browsing experience, the crumb cookie disappears which causes subsequent post calls to throw a 403.

i'm using hapi 16.6.3 with crumb version 6.0.3

thanks

[2018-05-11 22:18] spanditcaa commented on #114
Hi @franksama.  No, that is not a known issue.

[2018-05-14 20:37] spanditcaa commented on #114
@franksama Is any content on your site served over http and not https ?

[2018-05-14 20:47] franksama commented on #114
https

[2018-06-01 01:19] spanditcaa commented on #114
@franksama I've been keeping an eye on our production environments, also hapi 16.6.3 and crumb 6.0.3; all https -- I haven't seen any cases of your issue.  I also reviewed the crumb code and nothing un-sets a cookie.  Have you identified repro steps or can you provide a failing test that demonstrates this ?

[2018-06-10 15:42] schwamic opened #115 "example/restful.js"
I tested your example with Postman. Unfortunately I got a 403-forbidden despite X-CSRF token in the header. It's because of two different tokens in crumb:
[code]

[2018-06-16 00:08] spanditcaa commented on #115
confirmed

[2018-08-15 17:42] AlonMiz opened #116 "Add “dry run” mode"
It would be nice to have a "dry run" capability.
This will allow to deploy the plugin in a running app, while not disconnecting all users at the deployment time. This way, the first deploy will be dry (set tokens, allowing users to get the tokens), and the second deploy will validate the tokens.
Meaning, the dry run mode will skip only the csrf tokens validation, not the creation of the csrf token

[2018-08-15 20:19] AlonMiz commented on #116
Added this PR :)
https://github.com/hapijs/crumb/pull/117

[2018-08-28 01:51] bodawei opened #118 "crumb fails when there are multiple cookies with the same name"
We ran into a case, today, (using the Postman utility) where we inadvertently ended up with two csrf tokens in our cookies (e.g. crumb=12345; ... crumb=5678;).  When crumb retrieves the cookies:
[code]
it returns an array of the cookie values, which of course don't match `header !== request.plugins.crumb`.
While it is completely reasonable to fail in this case (it is, after all, not a match!), it

[2018-08-28 18:54] spanditcaa commented on #116
Sorry for the delay @AlonMiz - will check this out by this weekend.

[2018-08-28 19:00] spanditcaa commented on #118
I've seen a similar issue with authentication cookies where our resolution was to log that multiple were present, but then proceed to validate using the first cookie in the array.  Yes - please PR @bodawei.

[2018-09-07 14:30] MeiyappanKannappa commented on #115
Were you able to fix?

[2018-09-12 15:53] ivanakimov opened #120 "How does the check between the cookie and the header actually work?"
Thanks for the plugin, very useful.

Been looking at the source, just want to understand something: If the XHR request sends a cookie `crumb=abc` and a header `X-CSRF-Token: abc`, is it enough for validation to check if cookie equals the header, or is there some additional check to see if the value `abc` is actually valid?

[2018-09-27 00:37] spanditcaa commented on #116
This was merged in #117

[2018-09-27 00:37] #116 closed

[2018-09-27 00:42] spanditcaa commented on #120
There isn't an additional check, the crumb value is randomly generated and there isn't any backend storage, nor hashing/signing algorithm used currently that could be used to validate the value.

[2018-09-27 00:44] ivanakimov commented on #120
Thanks @spanditcaa. So the actual validation mechanism is just a check to compare that the cookie is the same as the header (which means it's a valid request)?

[2018-09-27 00:52] spanditcaa commented on #120
Correct @ivanakimov.  There is potential for enhancement.  In addition to validating the value is legit I have seen other implementations that include a timestamp for expiry embedded in the crumb and set as the cookie lifetime - to prevent someone from capturing a crumb and then programatically making 100's of malicious requests.

[2018-09-27 00:56] ivanakimov commented on #120
Right, makes sense. Yeah, that's why I wanted to double-check. Ok, thank you for the explanation @spanditcaa! 👍

[2018-09-27 00:56] #120 closed

[2018-10-03 09:51] AlonMiz opened #121 "Publish version 7.2.0 to npm"
to include the new `enforce:false` capability

[2018-10-05 20:31] spanditcaa commented on #121
@hueniverse I don't have npm publish permissions for this repo.  Can you please set me up?

[2018-10-06 06:52] hueniverse commented on #121
@spanditcaa npm account?

[2018-10-08 06:18] hueniverse commented on #121
Done.

[2018-10-08 19:02] spanditcaa commented on #121
Thanks.  Published 7.2.0 (and 7.2.1) @AlonMiz

[2018-10-08 19:02] #121 closed

[2018-11-06 19:08] #115 closed

[2018-11-11 03:42] hueniverse commented on #118
@bodawei still planning on submitting a PR?

[2018-11-11 03:48] hueniverse commented on #118
@spanditcaa A PR was submitted two months ago per your request. Let me know if you can no longer maintain this module.

[2018-11-13 17:59] spanditcaa commented on #118
@hueniverse I had some idea that I'd figure out why crumb might set multiple cookies - suspecting there must be a different path or subdomain in play, but never got to that.  @bodawei this was merged as crumb@7.2.3 - thanks for the PR and sorry for the delay.

[2018-11-13 17:59] #118 closed

[2018-11-13 18:41] hueniverse commented on #118
@spanditcaa make sure you create and assign milestones. The current open one is outdated and this issue was not assigned to any.

[2018-11-14 04:40] bodawei commented on #118
@spanditcaa Thanks for the merge!

[2018-11-27 13:04] lenovouser opened #123 "Getting a deprecation warning when installing"
![](https://i.lenovouser.me/Bs9vRqvVXRSzbHgg.jpg)

[2018-11-27 13:17] Marsup commented on #123
Is there any question?

[2018-11-28 17:54] fullstackwebdev opened #125 "cookie not being parsed into request.headers instead still in request.state.crumb"
Hi,

I think I am missing something because when I reach line
https://github.com/hapijs/crumb/blob/master/lib/index.js#L159

it cannot find the value for the crumb header.  It is not assign the value to headers[X-CSRF-Token]

if I change this line to include ` || request.state.crumb` it works.
[code]

it works fine

What puts the cookie into request.headers['X-CSRF-Token"]?

Here is a screenshot s

[2018-11-28 19:23] spanditcaa commented on #125
@fullstackwebdev per the readme,
[code]

In this scenario, your front end - either client side or a server side layer ahead of a restful hapi API server would set the crumb value as the "X-CSRF-token" header.  It is lowercased in crumb as hapi transforms all headers to lowercase.

[2018-11-28 19:23] #125 closed

[2019-01-16 09:30] milya opened #127 "unable to implement crumb for csrf protection in application with api's developed using hapi and front end developed using angular"
Hi
I am getting 403 forbidden error when I access hapi endpoint protected with crumb token.
I have used npm's  crumb packeage(https://www.npmjs.com/package/crumb) for CSRF in my api. My Api's are developed using hapi and front end is angular 5.

I get the crumb token in the 'set-cookie' response header of my Hapi api endpoint.Crumb token is different for each end point.

Please help me how should

[2019-03-13 16:27] #123 closed

[2019-03-21 14:20] D34THWINGS commented on #127
@milya  I've achieved working CSRF with React application by making the Hapi application serve my React application and injecting into the `index.html` the raw CSRF token (in a `script` tag to make it available on `window` or something like that). Then when I make an XHR call within my React app, I would send the raw token inside the `X-CSRF-Token` header. `crumb` will then compare the token sent

[2019-03-21 14:24] D34THWINGS opened #128 "Suggest to secure cookie by default in documentation"
While reading the documentation I found out that you did not mentioned to secure the cookie at all. This is a huge security problem because anyone could forge a CSRF token by sending anything as `crumb` cookie. This should definitely be enforced because otherwise this plugin is useless. Would you like a PR ?

[2019-03-21 21:33] spanditcaa commented on #128
@D34THWINGS - Here are the hapi defaults for cookies -

[code]

We can't set isHttpOnly here as client javascript needs to read and return the cookie value, but aside from that I believe we could apply the same defaults as hapi.  Yes - please submit a PR that sets a more secure default and updates the docs accordingly.

[2019-04-17 20:41] spanditcaa commented on #127
closing, answered.

[2019-04-17 20:41] #127 closed

[2019-04-17 20:48] spanditcaa commented on #128
added suggestion to readme/docs.

[2019-04-17 20:48] #128 closed

[2019-04-20 05:48] hueniverse opened #129 "Change module namespace"

[2019-04-20 05:49] #129 closed

[2019-04-20 05:51] hueniverse commented on #108
I am assuming this is not an issue anymore since it's been a year without progress on this. Since hapi v16 is no longer supported, I am closing it as the fix will not be backported. If you still need hapi v16 support including this module, please contact me for information about commercial support.

[2019-04-20 05:51] #108 closed

[2019-08-14 05:59] greenkeeper[bot] opened #132 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 21:09] #132 closed

[2019-08-14 21:10] hueniverse opened #134 "Update deps"

[2019-08-14 22:35] #134 closed

[2019-09-12 22:50] hueniverse opened #135 "Update joi"

[2019-09-12 22:53] #135 closed, assigned to hueniverse

[2019-10-03 15:26] BradyDavis-Shellz opened #137 "Per-Request VS Per-Session option?"
I had noticed that the functionality here on crumb seems to be operating on a per-session basis, meaning the crumb value will remain unchanged between calls to different crumbed routes during your current session.

Is there an option to enable a per-request behavior when registering the plugin / routes? If not, could we add one?

I have been able to simulate a per-request behavior by manually dele

[2019-10-05 04:53] hueniverse commented on #137
What's the actual security concern you are trying to solve with this?

[2019-10-08 16:35] BradyDavis-Shellz commented on #137
We have certain routes that make calls to an API we have hosted. Ideally we'd like to restrict hitting that route to only be accessible from the form view to prevent a user from trying to hit the endpoint with bad data. With the current functionality, the user would only need to have the client hit the endpoint at the beginning of the session, look at the crumb value in the header (or body), and t

[2019-10-08 23:54] hueniverse commented on #137
This has not come up as a requirement before, so I'm inclined not to add support for that if you can make it work by simply deleting the state after form validation. If you want to try a PR that is simple and well-contained, I am willing to review it but I can't promise a quick turnaround or even to merge until I see how simple it is.

[2019-10-29 14:30] BradyDavis-Shellz commented on #137
After updating to the latest version, it appears that this is now a non-issue. Our calls to our crumb generation endpoint are creating new crumb tokens to validate against, rather than returning the same one per session. Closing this issue.

[2019-10-29 14:30] #137 closed

[2019-12-18 16:30] IArny opened #140 "support legacy cookies for samesite policy in iframe"
#### Support plan

* *which support plan is this issue covered by?* (Community):
* *is this issue currently blocking your project?* (yes):
* *is this issue affecting a production system?* (yes):

#### Context

* *node version*: any
* *module version*: any
* *environment* : node/browser
* *used with* : hapi application
* *any other relevant information*:

#### What problem are you trying to solve?

[2020-01-07 08:45] hueniverse commented on #140
This is addressed in hapi v19 coming in the next week or so.

[2020-01-07 08:45] #140 closed

[2020-01-10 07:35] hueniverse opened #142 "Only node 12"

[2020-01-10 07:35] hueniverse opened #143 "Change plugin name to @hapi/crubm"

[2020-01-10 07:36] hueniverse opened #144 "Drop hapi v17 and v18"

[2020-01-10 07:36] #142 closed

[2020-01-10 07:36] #143 closed

[2020-01-10 07:36] #144 closed

[2020-03-30 04:47] rgaikar-lilly opened #145 "isSecure settings are not working"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): Community
* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: 12.15.0
* *module version with issue*: 8.0.0
* *last module version without issue*:
* *environment* (e.g. node, brow

[2020-05-07 04:29] hueniverse commented on #145
Unfortunately, no community resources were available to help resolve this issue after two weeks, and it is being closed. We close unresolved community issues to keep the issue tracker organized and effective. Please check https://hapi.dev/support for other support options.

[2020-05-07 04:29] #145 closed

[2020-07-29 02:01] saurabhgupta050890 opened #146 "Plugin strips security headers"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: v12.17.0
* *module version with issue*: 8.0.0
* *last module version without issue*:
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi appl

[2020-07-29 02:54] devinivy commented on #146
I am not able to reproduce this.  Here's the diff in headers I'm seeing without and with crumb (both cases using `security: true`):
[code]

In each case the security headers are preserved.  If you still believe there is an issue, can you provide some more details and perhaps a more complete reproduction?

[2020-07-29 02:58] devinivy commented on #146
Also, if you believe there is a security issue please contact us directly per our [security policy](https://github.com/hapijs/.github/blob/master/SECURITY.md), which is referenced alongside the issue templates when you attempt to create a new issue.

[2020-08-25 17:06] Ibabalola opened #151 "Unable to add crumb token to payload with h2o2 proxy"
#### Support plan

* *is this issue currently blocking your project?* (yes):
* *is this issue affecting a production system?* (no):

#### Context

* *node version*: 12.16.2
* *module version with issue*: 8.0.0
* *last module version without issue*: 8.0.0
* *environment* (e.g. node, browser, native): browser
* *used with* (e.g. hapi application, another framework, standalone, ...):hapi application

[2021-05-21 09:03] gdelpu opened #156 "HMAC based token pattern"
#### Support plan

* *is this issue currently blocking your project?* (yes/no):no
* *is this issue affecting a production system?* (yes/no):yes

#### Context

* *node version*: 12+
* *module version*: 8.0.1
* *environment* (e.g. node, browser, native):
* *used with* (e.g. hapi application, another framework, standalone, ...): Hapi application
* *any other relevant information*:

#### What problem

[2022-08-09 11:40] hannesvdvreken opened #161 "POST / DELETE requests don'"
[code]